// 生成内边距外边距  示例：
// .p5 { padding: 5px }
// .ml10 { margin-left: 10px }
// .mx10 { margin-left: 10px;  margin-right: 10px }
@sizes: boxSpace__cfg__val;

each(@sizes, {
        .m@{value} {
            margin: (@value * 1px);
        }

        .p@{value} {
            padding: (@value * 1px);
        }
    }

);

each(@sizes, {
        .mx@{value} {
            margin-left: (@value * 1px);
            margin-right: (@value * 1px);
        }

        .px@{value} {
            padding-left: (@value * 1px);
            padding-right: (@value * 1px);
        }

        .my@{value} {
            margin-top: (@value * 1px);
            margin-bottom: (@value * 1px);
        }

        .py@{value} {
            padding-top: (@value * 1px);
            padding-bottom: (@value * 1px);
        }
    }

);



@sides: {
    l: -left; // 左
    r: -right; // 右
    t: -top; // 上
    b: -bottom; // 下
}

.gen-space(@sizes; @sides; @index) when (@index>0) {
    .gen-space(@sizes; @sides; @index - 1);

    @size : extract(@sizes, @index);

    each(@sides, .(@v, @k, @i) {
            .m@{k}@{size} {
                margin@{v}: (@size * 1px);
            }

            .p@{k}@{size} {
                padding@{v}: (@size * 1px);
            }
        }

    );

}

.gen-space(@sizes; @sides; length(@sizes));


// .w40 { width: 40px }  .h40 { height: 40px }
@widths: boxSide__cfg__val;

each(@widths, {

        .w@{value} {
            width: (@value * 1px);
        }

        .h@{value} {
            height:(@value * 1px);
        }
    }

);

// .wp10 { width: 10% }
@pcts: ratio__cfg__val;

each(@pcts, {

        .wp@{value} {
            width: (@value * 100% / 100);
        }

        .hp@{value} {
            height: (@value * 100% / 100);
        }
    }

);


// .bdr999 { border-radius: 999px }
@borderRadius: borderRadius__cfg__val;

each(@borderRadius, {
        .bdr@{value} {
            overflow: hidden;
            border-radius: (@value * 1px);
        }
    }

);

// .bdw2 { border-width: 2px }
@borderWidth: borderWidth__cfg__val;

each(@borderWidth, {
        .bdw@{value} {
            border-width: (@value * 1px);
        }
    }

);

// partialSpace__cfg__val