// .dr500 { transition-duration: .5s }

@times: time__cfg__val;

@timesList: if((isdefined(@pub-user-time )), @pub-user-time , @times);

each(@timesList, {
    @val: (@value/1000);

    .dr@{value} {
      transition-duration: ~'@{val}s';
    }

    .dl@{value} {
      transition-delay: ~'@{val}s';
    }
  }

);