// .dr500 { transition-duration: .5s }
@times: time__cfg__val;

each(@times, {

        .dr@{value} {
            transition-duration : unit((@value/1000), s);
        }

        .dl@{value} {
            transition-delay : unit((@value/1000), s);
        }
    }

);


// each(@times, {
//     @val: @value/1000;

//     .dr@{value} {
//         transition-duration: ~'@{val}s';
//     }

//     .dl@{value} {
//         transition-delay: ~'@{val}s';
//     }
// }

// );