.red {
  color: red;
}
.green {
  color: green;
}
.blue {
  color: #0088ff;
}
.purple {
  color: purple;
}
.violet {
  color: violet;
}
.darkgreen {
  color: darkgreen;
}
.orange {
  color: #FF882B;
}
.yellow {
  color: #ffee00;
}
.gray {
  color: gray;
}
.white {
  color: white;
}
.c1 {
  color: #111;
}
.bgc1 {
  background-color: #111;
}
.bdc1 {
  border-color: #111;
}
.c2 {
  color: #222;
}
.bgc2 {
  background-color: #222;
}
.bdc2 {
  border-color: #222;
}
.c3 {
  color: #333;
}
.bgc3 {
  background-color: #333;
}
.bdc3 {
  border-color: #333;
}
.c4 {
  color: #444;
}
.bgc4 {
  background-color: #444;
}
.bdc4 {
  border-color: #444;
}
.c5 {
  color: #555;
}
.bgc5 {
  background-color: #555;
}
.bdc5 {
  border-color: #555;
}
.c6 {
  color: #666;
}
.bgc6 {
  background-color: #666;
}
.bdc6 {
  border-color: #666;
}
.c7 {
  color: #777;
}
.bgc7 {
  background-color: #777;
}
.bdc7 {
  border-color: #777;
}
.c8 {
  color: #888;
}
.bgc8 {
  background-color: #888;
}
.bdc8 {
  border-color: #888;
}
.c9 {
  color: #999;
}
.bgc9 {
  background-color: #999;
}
.bdc9 {
  border-color: #999;
}
.ca {
  color: #aaa;
}
.bgca {
  background-color: #aaa;
}
.bdca {
  border-color: #aaa;
}
.cb {
  color: #bbb;
}
.bgcb {
  background-color: #bbb;
}
.bdcb {
  border-color: #bbb;
}
.cc {
  color: #ccc;
}
.bgcc {
  background-color: #ccc;
}
.bdcc {
  border-color: #ccc;
}
.cd {
  color: #ddd;
}
.bgcd {
  background-color: #ddd;
}
.bdcd {
  border-color: #ddd;
}
.ce {
  color: #eee;
}
.bgce {
  background-color: #eee;
}
.bdce {
  border-color: #eee;
}
.cf {
  color: #fff;
}
.bgcf {
  background-color: #fff;
}
.bdcf {
  border-color: #fff;
}
.ce8 {
  color: #e8e8e8;
}
.bgce8 {
  background-color: #e8e8e8;
}
.bdce8 {
  border-color: #e8e8e8;
}
.cf0 {
  color: #f0f0f0;
}
.bgcf0 {
  background-color: #f0f0f0;
}
.bdcf0 {
  border-color: #f0f0f0;
}
.cf2 {
  color: #f2f2f2;
}
.bgcf2 {
  background-color: #f2f2f2;
}
.bdcf2 {
  border-color: #f2f2f2;
}
.cf8 {
  color: #f8f8f8;
}
.bgcf8 {
  background-color: #f8f8f8;
}
.bdcf8 {
  border-color: #f8f8f8;
}
.cfa {
  color: #fafafa;
}
.bgcfa {
  background-color: #fafafa;
}
.bdcfa {
  border-color: #fafafa;
}
.gray1 {
  color: #0d0d0d;
}
.gray2 {
  color: #1a1a1a;
}
.gray3 {
  color: #262626;
}
.gray4 {
  color: #333333;
}
.gray5 {
  color: #404040;
}
.gray6 {
  color: #4d4d4d;
}
.gray7 {
  color: #595959;
}
.gray8 {
  color: #666666;
}
.gray9 {
  color: #737373;
}
.gray10 {
  color: #808080;
}
.gray11 {
  color: #8c8c8c;
}
.gray12 {
  color: #999999;
}
.gray13 {
  color: #a6a6a6;
}
.gray14 {
  color: #b3b3b3;
}
.gray15 {
  color: #bfbfbf;
}
.gray16 {
  color: #cccccc;
}
.gray17 {
  color: #d9d9d9;
}
.gray18 {
  color: #e6e6e6;
}
.gray19 {
  color: #f2f2f2;
}
.gray20 {
  color: #ffffff;
}
