.m0 {
  margin: 0px;
}
.p0 {
  padding: 0px;
}
.mx0 {
  margin-left: 0px;
  margin-right: 0px;
}
.px0 {
  padding-left: 0px;
  padding-right: 0px;
}
.my0 {
  margin-top: 0px;
  margin-bottom: 0px;
}
.py0 {
  padding-top: 0px;
  padding-bottom: 0px;
}
.ml0 {
  margin-left: 0px;
}
.pl0 {
  padding-left: 0px;
}
.mr0 {
  margin-right: 0px;
}
.pr0 {
  padding-right: 0px;
}
.mt0 {
  margin-top: 0px;
}
.pt0 {
  padding-top: 0px;
}
.mb0 {
  margin-bottom: 0px;
}
.pb0 {
  padding-bottom: 0px;
}
.m1 {
  margin: 1px;
}
.p1 {
  padding: 1px;
}
.mx1 {
  margin-left: 1px;
  margin-right: 1px;
}
.px1 {
  padding-left: 1px;
  padding-right: 1px;
}
.my1 {
  margin-top: 1px;
  margin-bottom: 1px;
}
.py1 {
  padding-top: 1px;
  padding-bottom: 1px;
}
.ml1 {
  margin-left: 1px;
}
.pl1 {
  padding-left: 1px;
}
.mr1 {
  margin-right: 1px;
}
.pr1 {
  padding-right: 1px;
}
.mt1 {
  margin-top: 1px;
}
.pt1 {
  padding-top: 1px;
}
.mb1 {
  margin-bottom: 1px;
}
.pb1 {
  padding-bottom: 1px;
}
.m5 {
  margin: 5px;
}
.p5 {
  padding: 5px;
}
.mx5 {
  margin-left: 5px;
  margin-right: 5px;
}
.px5 {
  padding-left: 5px;
  padding-right: 5px;
}
.my5 {
  margin-top: 5px;
  margin-bottom: 5px;
}
.py5 {
  padding-top: 5px;
  padding-bottom: 5px;
}
.ml5 {
  margin-left: 5px;
}
.pl5 {
  padding-left: 5px;
}
.mr5 {
  margin-right: 5px;
}
.pr5 {
  padding-right: 5px;
}
.mt5 {
  margin-top: 5px;
}
.pt5 {
  padding-top: 5px;
}
.mb5 {
  margin-bottom: 5px;
}
.pb5 {
  padding-bottom: 5px;
}
.m8 {
  margin: 8px;
}
.p8 {
  padding: 8px;
}
.mx8 {
  margin-left: 8px;
  margin-right: 8px;
}
.px8 {
  padding-left: 8px;
  padding-right: 8px;
}
.my8 {
  margin-top: 8px;
  margin-bottom: 8px;
}
.py8 {
  padding-top: 8px;
  padding-bottom: 8px;
}
.ml8 {
  margin-left: 8px;
}
.pl8 {
  padding-left: 8px;
}
.mr8 {
  margin-right: 8px;
}
.pr8 {
  padding-right: 8px;
}
.mt8 {
  margin-top: 8px;
}
.pt8 {
  padding-top: 8px;
}
.mb8 {
  margin-bottom: 8px;
}
.pb8 {
  padding-bottom: 8px;
}
.m10 {
  margin: 10px;
}
.p10 {
  padding: 10px;
}
.mx10 {
  margin-left: 10px;
  margin-right: 10px;
}
.px10 {
  padding-left: 10px;
  padding-right: 10px;
}
.my10 {
  margin-top: 10px;
  margin-bottom: 10px;
}
.py10 {
  padding-top: 10px;
  padding-bottom: 10px;
}
.ml10 {
  margin-left: 10px;
}
.pl10 {
  padding-left: 10px;
}
.mr10 {
  margin-right: 10px;
}
.pr10 {
  padding-right: 10px;
}
.mt10 {
  margin-top: 10px;
}
.pt10 {
  padding-top: 10px;
}
.mb10 {
  margin-bottom: 10px;
}
.pb10 {
  padding-bottom: 10px;
}
.m15 {
  margin: 15px;
}
.p15 {
  padding: 15px;
}
.mx15 {
  margin-left: 15px;
  margin-right: 15px;
}
.px15 {
  padding-left: 15px;
  padding-right: 15px;
}
.my15 {
  margin-top: 15px;
  margin-bottom: 15px;
}
.py15 {
  padding-top: 15px;
  padding-bottom: 15px;
}
.ml15 {
  margin-left: 15px;
}
.pl15 {
  padding-left: 15px;
}
.mr15 {
  margin-right: 15px;
}
.pr15 {
  padding-right: 15px;
}
.mt15 {
  margin-top: 15px;
}
.pt15 {
  padding-top: 15px;
}
.mb15 {
  margin-bottom: 15px;
}
.pb15 {
  padding-bottom: 15px;
}
.m20 {
  margin: 20px;
}
.p20 {
  padding: 20px;
}
.mx20 {
  margin-left: 20px;
  margin-right: 20px;
}
.px20 {
  padding-left: 20px;
  padding-right: 20px;
}
.my20 {
  margin-top: 20px;
  margin-bottom: 20px;
}
.py20 {
  padding-top: 20px;
  padding-bottom: 20px;
}
.ml20 {
  margin-left: 20px;
}
.pl20 {
  padding-left: 20px;
}
.mr20 {
  margin-right: 20px;
}
.pr20 {
  padding-right: 20px;
}
.mt20 {
  margin-top: 20px;
}
.pt20 {
  padding-top: 20px;
}
.mb20 {
  margin-bottom: 20px;
}
.pb20 {
  padding-bottom: 20px;
}
.m25 {
  margin: 25px;
}
.p25 {
  padding: 25px;
}
.mx25 {
  margin-left: 25px;
  margin-right: 25px;
}
.px25 {
  padding-left: 25px;
  padding-right: 25px;
}
.my25 {
  margin-top: 25px;
  margin-bottom: 25px;
}
.py25 {
  padding-top: 25px;
  padding-bottom: 25px;
}
.ml25 {
  margin-left: 25px;
}
.pl25 {
  padding-left: 25px;
}
.mr25 {
  margin-right: 25px;
}
.pr25 {
  padding-right: 25px;
}
.mt25 {
  margin-top: 25px;
}
.pt25 {
  padding-top: 25px;
}
.mb25 {
  margin-bottom: 25px;
}
.pb25 {
  padding-bottom: 25px;
}
.m30 {
  margin: 30px;
}
.p30 {
  padding: 30px;
}
.mx30 {
  margin-left: 30px;
  margin-right: 30px;
}
.px30 {
  padding-left: 30px;
  padding-right: 30px;
}
.my30 {
  margin-top: 30px;
  margin-bottom: 30px;
}
.py30 {
  padding-top: 30px;
  padding-bottom: 30px;
}
.ml30 {
  margin-left: 30px;
}
.pl30 {
  padding-left: 30px;
}
.mr30 {
  margin-right: 30px;
}
.pr30 {
  padding-right: 30px;
}
.mt30 {
  margin-top: 30px;
}
.pt30 {
  padding-top: 30px;
}
.mb30 {
  margin-bottom: 30px;
}
.pb30 {
  padding-bottom: 30px;
}
.m40 {
  margin: 40px;
}
.p40 {
  padding: 40px;
}
.mx40 {
  margin-left: 40px;
  margin-right: 40px;
}
.px40 {
  padding-left: 40px;
  padding-right: 40px;
}
.my40 {
  margin-top: 40px;
  margin-bottom: 40px;
}
.py40 {
  padding-top: 40px;
  padding-bottom: 40px;
}
.ml40 {
  margin-left: 40px;
}
.pl40 {
  padding-left: 40px;
}
.mr40 {
  margin-right: 40px;
}
.pr40 {
  padding-right: 40px;
}
.mt40 {
  margin-top: 40px;
}
.pt40 {
  padding-top: 40px;
}
.mb40 {
  margin-bottom: 40px;
}
.pb40 {
  padding-bottom: 40px;
}
.m45 {
  margin: 45px;
}
.p45 {
  padding: 45px;
}
.mx45 {
  margin-left: 45px;
  margin-right: 45px;
}
.px45 {
  padding-left: 45px;
  padding-right: 45px;
}
.my45 {
  margin-top: 45px;
  margin-bottom: 45px;
}
.py45 {
  padding-top: 45px;
  padding-bottom: 45px;
}
.ml45 {
  margin-left: 45px;
}
.pl45 {
  padding-left: 45px;
}
.mr45 {
  margin-right: 45px;
}
.pr45 {
  padding-right: 45px;
}
.mt45 {
  margin-top: 45px;
}
.pt45 {
  padding-top: 45px;
}
.mb45 {
  margin-bottom: 45px;
}
.pb45 {
  padding-bottom: 45px;
}
.m50 {
  margin: 50px;
}
.p50 {
  padding: 50px;
}
.mx50 {
  margin-left: 50px;
  margin-right: 50px;
}
.px50 {
  padding-left: 50px;
  padding-right: 50px;
}
.my50 {
  margin-top: 50px;
  margin-bottom: 50px;
}
.py50 {
  padding-top: 50px;
  padding-bottom: 50px;
}
.ml50 {
  margin-left: 50px;
}
.pl50 {
  padding-left: 50px;
}
.mr50 {
  margin-right: 50px;
}
.pr50 {
  padding-right: 50px;
}
.mt50 {
  margin-top: 50px;
}
.pt50 {
  padding-top: 50px;
}
.mb50 {
  margin-bottom: 50px;
}
.pb50 {
  padding-bottom: 50px;
}
.m60 {
  margin: 60px;
}
.p60 {
  padding: 60px;
}
.mx60 {
  margin-left: 60px;
  margin-right: 60px;
}
.px60 {
  padding-left: 60px;
  padding-right: 60px;
}
.my60 {
  margin-top: 60px;
  margin-bottom: 60px;
}
.py60 {
  padding-top: 60px;
  padding-bottom: 60px;
}
.ml60 {
  margin-left: 60px;
}
.pl60 {
  padding-left: 60px;
}
.mr60 {
  margin-right: 60px;
}
.pr60 {
  padding-right: 60px;
}
.mt60 {
  margin-top: 60px;
}
.pt60 {
  padding-top: 60px;
}
.mb60 {
  margin-bottom: 60px;
}
.pb60 {
  padding-bottom: 60px;
}
.m70 {
  margin: 70px;
}
.p70 {
  padding: 70px;
}
.mx70 {
  margin-left: 70px;
  margin-right: 70px;
}
.px70 {
  padding-left: 70px;
  padding-right: 70px;
}
.my70 {
  margin-top: 70px;
  margin-bottom: 70px;
}
.py70 {
  padding-top: 70px;
  padding-bottom: 70px;
}
.ml70 {
  margin-left: 70px;
}
.pl70 {
  padding-left: 70px;
}
.mr70 {
  margin-right: 70px;
}
.pr70 {
  padding-right: 70px;
}
.mt70 {
  margin-top: 70px;
}
.pt70 {
  padding-top: 70px;
}
.mb70 {
  margin-bottom: 70px;
}
.pb70 {
  padding-bottom: 70px;
}
.m80 {
  margin: 80px;
}
.p80 {
  padding: 80px;
}
.mx80 {
  margin-left: 80px;
  margin-right: 80px;
}
.px80 {
  padding-left: 80px;
  padding-right: 80px;
}
.my80 {
  margin-top: 80px;
  margin-bottom: 80px;
}
.py80 {
  padding-top: 80px;
  padding-bottom: 80px;
}
.ml80 {
  margin-left: 80px;
}
.pl80 {
  padding-left: 80px;
}
.mr80 {
  margin-right: 80px;
}
.pr80 {
  padding-right: 80px;
}
.mt80 {
  margin-top: 80px;
}
.pt80 {
  padding-top: 80px;
}
.mb80 {
  margin-bottom: 80px;
}
.pb80 {
  padding-bottom: 80px;
}
.m100 {
  margin: 100px;
}
.p100 {
  padding: 100px;
}
.mx100 {
  margin-left: 100px;
  margin-right: 100px;
}
.px100 {
  padding-left: 100px;
  padding-right: 100px;
}
.my100 {
  margin-top: 100px;
  margin-bottom: 100px;
}
.py100 {
  padding-top: 100px;
  padding-bottom: 100px;
}
.ml100 {
  margin-left: 100px;
}
.pl100 {
  padding-left: 100px;
}
.mr100 {
  margin-right: 100px;
}
.pr100 {
  padding-right: 100px;
}
.mt100 {
  margin-top: 100px;
}
.pt100 {
  padding-top: 100px;
}
.mb100 {
  margin-bottom: 100px;
}
.pb100 {
  padding-bottom: 100px;
}
.m150 {
  margin: 150px;
}
.p150 {
  padding: 150px;
}
.mx150 {
  margin-left: 150px;
  margin-right: 150px;
}
.px150 {
  padding-left: 150px;
  padding-right: 150px;
}
.my150 {
  margin-top: 150px;
  margin-bottom: 150px;
}
.py150 {
  padding-top: 150px;
  padding-bottom: 150px;
}
.ml150 {
  margin-left: 150px;
}
.pl150 {
  padding-left: 150px;
}
.mr150 {
  margin-right: 150px;
}
.pr150 {
  padding-right: 150px;
}
.mt150 {
  margin-top: 150px;
}
.pt150 {
  padding-top: 150px;
}
.mb150 {
  margin-bottom: 150px;
}
.pb150 {
  padding-bottom: 150px;
}
.m200 {
  margin: 200px;
}
.p200 {
  padding: 200px;
}
.mx200 {
  margin-left: 200px;
  margin-right: 200px;
}
.px200 {
  padding-left: 200px;
  padding-right: 200px;
}
.my200 {
  margin-top: 200px;
  margin-bottom: 200px;
}
.py200 {
  padding-top: 200px;
  padding-bottom: 200px;
}
.ml200 {
  margin-left: 200px;
}
.pl200 {
  padding-left: 200px;
}
.mr200 {
  margin-right: 200px;
}
.pr200 {
  padding-right: 200px;
}
.mt200 {
  margin-top: 200px;
}
.pt200 {
  padding-top: 200px;
}
.mb200 {
  margin-bottom: 200px;
}
.pb200 {
  padding-bottom: 200px;
}
.w40,
[class^="el-"].w40 {
  width: 40px;
}
.h40 {
  height: 40px;
}
.w60,
[class^="el-"].w60 {
  width: 60px;
}
.h60 {
  height: 60px;
}
.w50,
[class^="el-"].w50 {
  width: 50px;
}
.h50 {
  height: 50px;
}
.w70,
[class^="el-"].w70 {
  width: 70px;
}
.h70 {
  height: 70px;
}
.w80,
[class^="el-"].w80 {
  width: 80px;
}
.h80 {
  height: 80px;
}
.w90,
[class^="el-"].w90 {
  width: 90px;
}
.h90 {
  height: 90px;
}
.w100,
[class^="el-"].w100 {
  width: 100px;
}
.h100 {
  height: 100px;
}
.w120,
[class^="el-"].w120 {
  width: 120px;
}
.h120 {
  height: 120px;
}
.w140,
[class^="el-"].w140 {
  width: 140px;
}
.h140 {
  height: 140px;
}
.w150,
[class^="el-"].w150 {
  width: 150px;
}
.h150 {
  height: 150px;
}
.w160,
[class^="el-"].w160 {
  width: 160px;
}
.h160 {
  height: 160px;
}
.w170,
[class^="el-"].w170 {
  width: 170px;
}
.h170 {
  height: 170px;
}
.w180,
[class^="el-"].w180 {
  width: 180px;
}
.h180 {
  height: 180px;
}
.w200,
[class^="el-"].w200 {
  width: 200px;
}
.h200 {
  height: 200px;
}
.w220,
[class^="el-"].w220 {
  width: 220px;
}
.h220 {
  height: 220px;
}
.w240,
[class^="el-"].w240 {
  width: 240px;
}
.h240 {
  height: 240px;
}
.w250,
[class^="el-"].w250 {
  width: 250px;
}
.h250 {
  height: 250px;
}
.w260,
[class^="el-"].w260 {
  width: 260px;
}
.h260 {
  height: 260px;
}
.w270,
[class^="el-"].w270 {
  width: 270px;
}
.h270 {
  height: 270px;
}
.w300,
[class^="el-"].w300 {
  width: 300px;
}
.h300 {
  height: 300px;
}
.w320,
[class^="el-"].w320 {
  width: 320px;
}
.h320 {
  height: 320px;
}
.w350,
[class^="el-"].w350 {
  width: 350px;
}
.h350 {
  height: 350px;
}
.w400,
[class^="el-"].w400 {
  width: 400px;
}
.h400 {
  height: 400px;
}
.pct10,
[class^="el-"].pct10 {
  width: 10%;
}
.pct15,
[class^="el-"].pct15 {
  width: 15%;
}
.pct20,
[class^="el-"].pct20 {
  width: 20%;
}
.pct25,
[class^="el-"].pct25 {
  width: 25%;
}
.pct33,
[class^="el-"].pct33 {
  width: 33%;
}
.pct46,
[class^="el-"].pct46 {
  width: 46%;
}
.pct49,
[class^="el-"].pct49 {
  width: 49%;
}
.pct50,
[class^="el-"].pct50 {
  width: 50%;
}
.pct60,
[class^="el-"].pct60 {
  width: 60%;
}
.pct64,
[class^="el-"].pct64 {
  width: 64%;
}
.pct66,
[class^="el-"].pct66 {
  width: 66%;
}
.pct75,
[class^="el-"].pct75 {
  width: 75%;
}
.pct80,
[class^="el-"].pct80 {
  width: 80%;
}
.pct85,
[class^="el-"].pct85 {
  width: 85%;
}
.pct90,
[class^="el-"].pct90 {
  width: 90%;
}
.pct100,
[class^="el-"].pct100 {
  width: 100%;
}
.bdr2 {
  overflow: hidden;
  border-radius: 2px;
}
.bdr4 {
  overflow: hidden;
  border-radius: 4px;
}
.bdr6 {
  overflow: hidden;
  border-radius: 6px;
}
.bdr8 {
  overflow: hidden;
  border-radius: 8px;
}
.bdr10 {
  overflow: hidden;
  border-radius: 10px;
}
.bdr999 {
  overflow: hidden;
  border-radius: 999px;
}
