// partialColor__cfg__val

$colors: (color__cfg__val);

@each $c in $colors {
    .c#{$c} {
        color: unquote('#'+$c+$c+$c);
    }

    .bgc#{$c} {
        background-color: unquote('#'+$c+$c+$c);
    }

    .bdc#{$c} {
        border-color: unquote('#'+$c+$c+$c);
    }
}

@for $i from 0 through 20 {
 .gray#{$i} {
    color: hsl(0, 0%,$i / 20 * 100 );
  }
}