.red {
    color: red;
}

.green {
    color: green;
}

.blue {
    color: #0088ff;
}

.purple {
    color: purple;
}

.violet {
    color: violet;
}

.darkgreen {
    color: darkgreen;
}

.orange {
    color: #FF882B;
}

.yellow {
    color: #ffee00;
}

.gray {
    color: gray;
}

.white {
    color: white;
}


$colors: (color__cfg__val);

@each $c in $colors {
    .c#{$c} {
        color: unquote('#'+$c+$c+$c);
    }

    .bgc#{$c} {
        background-color: unquote('#'+$c+$c+$c);
    }

    .bdc#{$c} {
        border-color: unquote('#'+$c+$c+$c);
    }
}

@for $i from 0 through 20 {
 .gray#{$i} {
    color: hsl(0, 0%,$i / 20 * 100 );
  }
}