// 生成内边距外边距  示例：
// .p5 { padding: 5px }
// .ml10 { margin-left: 10px }
// .mx10 { margin-left: 10px;  margin-right: 10px }

$sizes: (boxSpace__cfg__val);
$sides: ("l": "-left", "r": "-right", "t": "-top", "b": "-bottom");


@each $size in $sizes {

    .m#{$size} {
        margin:#{$size}px;
    }

    .p#{$size} {
        padding:#{$size}px;
    }
}

@each $size in $sizes {

    .mx#{$size} {
        margin-left:#{$size}px;
        margin-right:#{$size}px;
    }

    .px#{$size} {
        padding-left:#{$size}px;
        padding-right:#{$size}px;
    }

    .my#{$size} {
        margin-top:#{$size}px;
        margin-bottom:#{$size}px;
    }

    .py#{$size} {
        padding-top:#{$size}px;
        padding-bottom:#{$size}px;
    }
}

@each $size in $sizes {

    @each $s,
    $side in $sides {

        .m#{$s}#{$size} {
            margin#{$side}:#{$size}px;
        }

        .p#{$s}#{$size} {
            padding#{$side}:#{$size}px;
        }

    }
}

// .w40 { width: 40px }  .h40 { height: 40px }

$width: (boxSide__cfg__val);


@each $w in $width {
    .w#{$w} {
        width:#{$w}px;
    }

    .h#{$w} {
        height:#{$w}px;
    }
}


// .wp10 { width: 10% }

$pcts: (ratio__cfg__val);

@each $p in $pcts {

    .wp#{$p} {
        width: percentage($p/100);
    }

    .hp#{$p} {
        height: percentage($p/100);
    }
}


// 生成边框圆角 示例： .bdr999 { border-radius: 999px }

$bdrs: (borderRadius__cfg__val);

@each $b in $bdrs {
    .bdr#{$b} {
        overflow: hidden;
        border-radius:#{$b}px;
    }
}

// .bdw2 { border-width: 2px }

$bdws: (borderWidth__cfg__val);

@each $b in $bdws {
    .bdw#{$b} {
        border-width:#{$b}px;
    }
}