// Partial Base
// Layout

.flex,
.inline-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  &.around {
    justify-content: space-around;
  }

  &.center {
    justify-content: center;
  }

  &.start {
    justify-content: flex-start;
  }

  &.end {
    justify-content: flex-end;
  }

  &.top {
    align-items: flex-start;
  }

  &.bottom {
    align-items: flex-end;
  }

  &.column {
    flex-direction: column;
  }

  &.column-reverse {
    flex-direction: column-reverse;
  }

  &.row-reverse {
    flex-direction: row-reverse;
  }

  &.nowrap {
    flex-wrap: nowrap;
  }

}

.inline-flex {
  display: inline-flex;
}


.grid {
  display: grid;

  &.center {
    place-items: center;
  }
}

.inline-grid {
  display: inline-grid;
}

.block {
  display: block;
}

.inline,
.inline-block {
  display: inline-block;
}


.align-top {
  vertical-align: top;
}

.auto {
  margin: auto;
}

// Box

// .border-line {
//     border-style: solid;
//     border-width: 1px ;
// }

// Image


.img-cover {
  object-fit: cover;

  img {
    object-fit: cover;
  }
}

.img-contain {
  object-fit: contain;

  img {
    object-fit: contain;
  }
}

// Form


button {
  cursor: pointer;
  user-select: none;
  border-color: transparent;

  &:active {
    opacity: .75;
  }

  &:focus,
  &:hover {
    outline: 0;

  }

}


input {

  &:focus,
  &:hover {
    outline: 0;

  }
}

// Transition

.transition {
  transition: all linear 150ms;

  &.linear {
    transition-timing-function: linear;
  }

  &.ease {
    transition-timing-function: ease;
  }

  &.ease-in {
    transition-timing-function: ease-in;
  }

  &.ease-out {
    transition-timing-function: ease-out;
  }

  &.ease-in-out {
    transition-timing-function: ease-in-out;
  }
}

// Border

.border {
  border: 1px solid #ddd;

  &.dashed {
    border-style: dashed;
  }

  &.dotted {
    border-style: dotted;
  }

  &.double {
    border-style: double;
  }

  &.groove {
    border-style: groove;
  }

  &.inset {
    border-style: inset;
  }

  &.outset {
    border-style: outset;
  }
}
