// Text

.center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.bold {
  font-weight: bold;
}

.bolder {
  font-weight: bolder;
}

.text-overflow {
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100%;
}

.nowrap {
  white-space: nowrap;
}

.pre {
  white-space: pre;
}

.pre-wrap {
  white-space: pre-wrap;
}

.pre-line {
  white-space: pre-line;
}

.break-spaces {
  white-space: break-spaces;
}

.break-all {
  word-break: break-all;
}

.keep-all {
  word-break: keep-all;
}

.break-word {
  word-break: break-word;
}

a:focus,
a:active {
  outline: none;
  cursor: pointer;
  color: inherit;
  text-decoration: none;

}